
	<h1>Sign Up</h1>
<%= form_for @user do |f| %>
	<p><%= f.text_field :name, placeholder: "Name" %>
	<%= f.text_field :email, placeholder: "Email Address" %>
	<%= f.password_field :password, placeholder: "Password" %>
	<%= f.password_field :password_confirmation, placeholder: "Confirm Password" %></p>
	<p><%= f.submit %></p>

<% end %>
